body{
    padding:0px;
    margin:0px;
    font-family: 'Oswald','Arial','Helvetica','Sans';
    background:black;
}
.whitebg{
    background:white;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:1em;
    width:100%;
    margin:0px;

}
.content{
    width:870px;
    margin:auto;
    padding:0px;
}
a{
    color: rgb(133, 148, 61);
}
#header .lang a{
    color:black;
}
.box{
    background-color:white;
    border-bottom: 2px rgb(68,68,68) solid;
}
.contentbox{
    background-color:white;
    border-bottom: 2px rgb(68,68,68) solid;
    padding:2em;
}
strong{
    color:rgb(186, 206, 86);
    font-weight: normal;
}
#scrolling img{
    /*position: relative;
    float:left;*/
}
#scrolling{
    padding:0.5em;
    margin-bottom:1em;
/*  width: 2520px; 
    height:35px;*/
}
#page{
    background-color: rgb(204, 204, 204);
    width:870px;
    margin:2em auto;
    padding:1em;
}
#menu{
    background: black;
    margin:0px;
    padding:0.5em;
}
#menu a{
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#header .lang{
    float:right;
    padding:0.5em;
}
#header img{
    padding: 2em;
}
#footer{
    padding-top: 1em;
    padding-bottom: 1em;

}
#footer .news h4{
    background-color: black;
    color:white;
    text-align:center;
    border-radius: 4px;
    padding:0.1em;
    margin:0px 0px 0.5em 0px;
    font-weight: normal;
}
#footer .news{
    font-size: 0.9em;
    color:white;
    margin:auto;
    width: 350px;
    background-color: rgb(33,33,33);
    border-radius: 4px;
    padding:0.5em;
}
