{% extends "base.j2" %}

{% block post -%}
{{resource.meta.author}} - {{resource.meta.created.strftime('%Y-%m-%d')}}
<h1>{{resource.meta.title}}</h1>


{% block content -%}
{%endblock-%}

{%- endblock %}
