{% macro translate(text) -%}
{{translations[resource.meta.language][text]}}
{%- endmacro %}
{% macro print_sponsors_category(category) %}
{%- for sponsor in sponsors[category]|sort -%}
<a href="
{%-
    if sponsors[category][sponsor[0]]['website'][resource.meta.language] is defined
-%}
    {{sponsors[category][sponsor[0]]['website'][resource.meta.language]}}
{%- else -%}
    {{sponsors[category][sponsor[0]]['website']}}
{%-
    endif
-%}
"><img src="/media/img/sponsors/
{%-
    if sponsors[category][sponsor[0]]['image'][resource.meta.language] is defined
-%}
    {{sponsors[category][sponsor[0]]['image'][resource.meta.language]}}
{%- else -%}
    {{sponsors[category][sponsor[0]]['image']}}
{%-
    endif
-%}
" title="
{%-
    if sponsors[category][sponsor[0]]['name'][resource.meta.language] is defined
-%}
    {{sponsors[category][sponsor[0]]['name'][resource.meta.language]}}
{%- else -%}
    {{sponsors[category][sponsor[0]]['name']}}
{%-
    endif
-%}
" alt="
{%-
    if sponsors[category][sponsor[0]]['name'][resource.meta.language] is defined
-%}
    {{sponsors[category][sponsor[0]]['name'][resource.meta.language]}}
{%- else -%}
    {{sponsors[category][sponsor[0]]['name']}}
{%-
    endif
-%}
" /></a>
{%- endfor -%}
{% endmacro %}
{% macro print_sponsors() %}
<h1>{{ translate('sponsors') }}</h1>
<p class="sponsors">
{{print_sponsors_category('gold')}}
</p>
<p class="sponsors">
{{print_sponsors_category('silver')-}}
{{-print_sponsors_category('bronze')-}}
{{-print_sponsors_category('logistique')}}
</p>
<h1>{{ translate('event') }}</h1>
<p class="sponsors">
{{print_sponsors_category('event')}}
</p>
{% endmacro %}
{% macro green_text_svg(text) -%}
<tspan style="fill:#acc631;fill-opacity:1">{{text}}</tspan>
{%- endmacro%}
